.button-wrapper {
  line-height: 2;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 90%;
  background: #91db39;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 2px;
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 35%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 35px;
  top: 0;
  right: 27px;
}
.mdi-upload {
  font-size: 17px;
  padding: 5px;
}
